/pipeline/1_ontologiesInput/*
/pipeline/2_connectOutput/*
/pipeline/3_mergeOutput/*

!/pipeline/1_ontologiesInput/news001_ds.ttl
!/pipeline/2_connectOutput/news001_ds_connected.ttl
!/pipeline/3_mergeOutput/.gitkeep
